/* *{
    padding: 0px 10px;
} */
body{
    background-color: gray;
}
main{
    background-color: white;
    border-radius: 10px;
    padding: 0px 15px;
    margin: auto;
    width: 35vw;
}

.top-content{
    padding-top: 10px;
    /* display: inline-flex; */
    /* flex-direction: row; */
}
.top-content h2{
    /* border: 1px solid red; */
    display: inline-block;
    /* padding: 10px 0px; */
}
.top-content img{
    height: 15px;
    padding-top: 20px;
    /* border: 1px solid red; */
    float: right;
    /* padding-top: -20px; */
}
#img-bvss img{
 height: 40vh;
 width: 35vw;
 object-fit: cover;
}
#nav-img{
    padding-top: 10px;
}
#nav-img a{
    text-decoration: none;
    color: gray;
    
}
#nav-img img{
    height: 20px;
    float: right;
    padding-right: 20px;
}
#footer-main{
    padding-bottom: 1px;
}
