.error-box
{
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: white;
  color: red;
}
main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: fit-content;
    margin: 70px auto 0 auto;
    box-shadow: 2px 2px 5px gray;
    line-height: 50px;
}
.change-email{
    margin: 0 40px;
    text-decoration: none;
    font-size: 11px;
    color: var(--main-color);
}
.change-email-1{
    text-decoration: none;
    font-size: 11px;
    color: var(--main-color);
}
#txt2{
     padding: 0 50px ;
     line-height: 15px;
     /* border: 1px solid red; */
}
/* ----------------------------------------------- */
.digit-group input {
		width: 30px;
		height: 50px;
		background-color: lighten(black, 5%);
        border-bottom: 2px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-weight: 200;
		color: black;
		margin: 0 2px;
        margin: 10px;
	}


/* --------------------------------------------------- */
.cont{
    margin: auto;
}
#top-heading{
    padding-top: 40px;
}
.otp-container{
    margin: auto;
    display: flex;
    flex-direction: row;
}
.otp{
    border-bottom: 1px solid black;
    width: 50px;
    margin: 2px;
}
#next-btn{
    margin: auto;
    width: 21em;
    height: 2.9em;
    border-radius: 50px;
    color: white;
    background-color: var(--main-color);
    margin: 15px;
    border: none; 
    margin-bottom: 10px;
}
span{
    margin-bottom: 10px;
}
#go-back{
    padding-right: 5em;
}
@media screen and (max-width: 400px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 90vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 2px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 90vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 18em;
    margin: 30px 0px 0px 0px;
    box-shadow: 4px 4px 5px gray;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 90vw;
     position: relative;
     background-position: bottom;
     top: 34vh;
}
}