*{
    margin: 0;
    padding: 0;
}
.error-box
{
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: white;
  color: red;
}
main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: fit-content;
    margin: 60px auto 0 auto;
    box-shadow: 1px 1px 4px gray;
    line-height: 10px;
}
.inner-content{
    padding:15px;
}
.container4{
    /* display: flex; */
    /* justify-content: center; */
    margin: auto;
}
.idpass{
    border: 1px solid #7D86A9;
    border-radius: 50px;
    width: 20em;
    height: 2em;
    margin: 10px;
    padding: 4px;
}
.idpass::placeholder{
    padding-left: 20px;
}
.main-content{
    margin: 30px;
}
#next-btn{
    margin: auto;
    width: 21em;
    height: 2.9em;
    border-radius: 50px;
    color: white;
    background-color: var(--main-color);
    margin: 15px;
    border: none; 
    margin-bottom: 50px; 
}
@media screen and (max-width: 450px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 25px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 18em;
    /* margin: 30px 0px 0px 0px; */
    box-shadow: 4px 4px 5px gray;
    margin: auto;
}
/* .main-content{
    margin: auto;
} */
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
     position: absolute;
     background-position: bottom;
     bottom: 0;
}
}

@media screen and (min-width: 450px) and (max-width: 950px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 25px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 18em;
    /* margin: 30px 0px 0px 0px; */
    box-shadow: 4px 4px 5px gray;
    margin: auto;
}
/* .main-content{
    margin: auto;
} */
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
     position: absolute;
     background-position: bottom;
     bottom: 0;
}
}