*{
    margin: 0;
    padding: 0;
}
main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    margin: 300px auto 0 auto;
    box-shadow: 1px 1px 4px gray;
    line-height: 10px;
}
.log-sign-btn{
    padding-bottom: 30px;
}

.container1{
    margin-top: 50px;
}
body main{
    margin-top: 20px;
}
#top-heading{
    padding-top: 30px;
    padding-bottom: 30px;
}
.l-s{
    width: 20em;
    height: 2.5em;
    border-radius: 50px;
    color: white;
    background-color: var(--main-color);
    margin: auto;
    margin: 15px;
    border: none; 
}
@media screen and (max-width: 450px) {

    header{
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100vw;
        height: 12vh;
        background-color: black;
        color: white;
        line-height: 2px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    /* margin: 30px 0px 0px 0px; */
    box-shadow: 4px 4px 5px gray;
}
#signup-btn{
    margin-bottom: 20px;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
    position:absolute;
    bottom: 0;
}
}

/* tab */

@media screen and (min-width: 450px) and (max-width: 950px) {

    header{
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 2px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    margin: auto;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: fit-content;
    box-shadow: 4px 4px 5px gray;
}
#signup-btn{
    margin-bottom: 20px;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
    position:absolute;
    bottom: 0;
}
}