
body{
    background-color: rgb(212, 209, 255);
}
header{
    margin-left: 0;
    text-align: center;
    width: 99vw;
    height: 10vh;
    background-color: black;
    color: white;
    line-height: 2px;
    padding-top: 2vh;
}
#box{
    margin-top: 0px;
    width: 99vw;
    height: 2vh;
    background-color: rgb(226, 21, 182);
}
main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 45vh;
    margin: auto;
    /* box-shadow: 4px 4px 5px black,-4px -4px 5px black; */
    box-shadow: 4px 4px 5px gray;
}
.idpass{
    border-radius: 10px;
    width: 20em;
    height: 2em;
    margin: auto;
}
span{
    flex-direction: row;
}
#forgot-pass{
    text-decoration: none;
    color: rgb(145, 145, 145);
    padding-right: 35px;
}
#login-btn{
    width: 20em;
    height: 2.5em;
    border-radius: 10px;
    color: white;
    background-color: rgb(226, 21, 182);
    margin: auto;
    margin-bottom: 20px;
    
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer p{
    padding: 5px;
}
@media screen and (max-width: 450px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 95vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 2px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 95vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 20em;
    margin: auto;
    box-shadow: 4px 4px 5px gray;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 95vw;
    position: absolute;
    bottom: 0;
    
}
}
/* tab */

@media screen and (min-width: 450px) and (max-width: 950px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 95vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 2px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 95vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 20em;
    margin: 30px auto;
    box-shadow: 4px 4px 5px gray;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 95vw;
    position: absolute;
    bottom: 0;
    
}
}