*{
    margin: 0;
    padding: 0;
}
main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    margin: 40px auto 0 auto;
    box-shadow: 1px 1px 4px gray;
    line-height: 30px;
}
.idpass::placeholder{
    padding-left: 20px;
}
.inner-content{
    padding: 5px;
}
#signup-label{
    padding-top: 50px;
}
main form input{
   margin: 208px;
}
.main-content{
    margin-top: 10px;
}
.idpass{
    border: 1px solid #7D86A9;
    border-radius: 50px;
    width: 20em;
    height: 2em;
    margin: 10px;
    padding: 4px;
    /* padding-left: 10px; */
}

#help{
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(145, 145, 145);
}
#login-btn{
    width: 20em;
    height: 2.5em;
    border-radius: 50px;
    color: white;
    background-color: var(--main-color);
    margin: auto;
    margin-bottom: 50px;
    border: none;
}
@media screen and (max-width: 450px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 25px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    margin: 30px auto;
    box-shadow: 4px 4px 5px gray;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
}


@media screen and (min-width: 450px) and (max-width: 950px){

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 30px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main h2,p{
        font-size: 25px;
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: fit-content;
    margin: 30px auto;
    box-shadow: 4px 4px 5px gray;
}
form{
    flex-direction: column;
    justify-content: center;
    margin: auto;
} 
.idpass{
    display: flex;
    height: 4em;
    width: 28em;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
}