*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(212, 209, 255);
}
header{
    margin-left: 0;
    text-align: center;
    width: 100vw;
    height: 10vh;
    background-color: black;
    color: white;
    line-height: 25 px;
    padding-top: 2vh;
}
#box{
    margin-top: 0px;
    width: 100vw;
    height: 2vh;
    background-color: rgb(226, 21, 182);
}
main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height:max-content;
    margin: auto;

    /* box-shadow: 4px 4px 5px black,-4px -4px 5px black; */
    box-shadow: 4px 4px 5px gray;
}
.inner-content{
    padding: 10px;
}
main form input{
   margin: 208px;
}
.main-content{
    margin-top: 10px;
}
.idpass{
    border-radius: 10px;
    width: 18em;
    height: 2em;
    margin: 5px;
}

#help{
    text-decoration: none;
    color: rgb(145, 145, 145);
    /* padding-right: 35px; */
    /* height: 10px; */
}
#login-btn{
    width: 19em;
    /* height: 2.5em; */
    border-radius: 10px;
    color: white;
    background-color: rgb(226, 21, 182);
    margin: 10px auto 10px auto; 
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer p{
    padding: 5px;
}
@media screen and (max-width: 450px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 25px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: fit-content;
    margin: 30px auto;
    box-shadow: 4px 4px 5px gray;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
}


@media screen and (min-width: 450px) and (max-width: 950px){

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 100vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 30px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 100vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main h2,p{
        font-size: 25px;
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: fit-content;
    margin: 30px auto;
    box-shadow: 4px 4px 5px gray;
}
form{
    flex-direction: column;
    justify-content: center;
    margin: auto;
} 
.idpass{
    display: flex;
    height: 4em;
    width: 28em;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
}