.error-box
{
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: white;
  color: red;
}
main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: fit-content;
    margin: 60px auto 0 auto;
    box-shadow: 1px 1px 4px gray;
    line-height: 40px;
}
.password::placeholder{
    padding-left: 20px;
    color: #7D86A9;
}
.password{
    border: 1px solid #7D86A9;
    border-radius: 50px;
    width: 20em;
    height: 2em;
    margin: 10px;
    padding: 4px;
}
.input-and-btn{
    margin: auto;
}
#submit-btn{
    margin: auto;
    width: 21em;
    height: 2.9em;
    border-radius: 50px;
    color: white;
    background-color: var(--main-color);
    margin: 15px;
    border: none; 
    margin-bottom: 50px;   
}
@media screen and (max-width: 400px) {

    header{
        margin-right: 4px;
        /* padding: 0px; */
        text-align: center;
        width: 90vw;
        height: 10vh;
        background-color: black;
        color: white;
        line-height: 2px;
        padding-top: 2vh;
    }
    #box{
        margin-top: 0px;
        width: 90vw;
        height: 2vh;
        background-color: rgb(226, 21, 182);
    }
    main
{ 
    background-color: white;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 18em;
    margin: 30px 0px 0px 0px;
    box-shadow: 4px 4px 5px gray;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    width: 90vw;
     position: relative;
     background-position: bottom;
     top: 34vh;
}
}