/* *{
    padding: 0px 10px;
} */
body{
    background-color: gray;
}
main{
    background-color: white;
    border-radius: 10px;
    padding: 0px 15px;
    margin: auto;
    width: 35vw;
}
.main-content{
    margin: 40px;
}
.top-content{
    padding-top: 10px;
}
.top-content h2{
    display: inline-block;
}
.top-content img{
    height: 15px;
    padding-top: 20px;
    float: right;
}
#img-bvss img{
 height: 40vh;
 width: 35vw;
 object-fit: cover;
}
#nav-img{
    padding-top: 10px;
}
#nav-img a{
    text-decoration: none;
    color: gray;
    
}
#nav-img img{
    height: 20px;
    float: right;
    padding-right: 20px;
}
#footer-main{
    padding-bottom: 1px;
}
@media screen and (max-width: 450px) {
    
    body{
        background-color: gray;
    }
    main{
        background-color: white;
        border-radius: 10px;
        padding: 0px 15px;
        margin: auto ;
        width: 95vw;
      
    }
    .main-content{
        display: flex;
        justify-content: center;
    }
    .top-content{
        padding-top: 10px;
    }
    .top-content h2{
        display: inline-block;
    }
    .top-content img{
        height: 15px;
        padding-top: 20px;
        float: right;
    }
    #img-bvss img{
     height: auto;
     width: 90vw;
     object-fit: cover;
    }
    #nav-img{
        padding-top: 10px;
    }
    #nav-img a{
        text-decoration: none;
        color: gray;
        
    }
    #nav-img img{
        height: 20px;
        float: right;
        padding-right: 20px;
    }
    #footer-main{
        padding-bottom: 1px;
    }
}

@media screen and (min-width: 450px) and (max-width: 950px) {
    
    body{
        background-color: gray;
    }
    main{
        background-color: white;
        border-radius: 10px;
        padding: 0px 15px;
        margin: auto;
        width: 85vw;
      
    }
    .main-content{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    .top-content{
        padding-top: 10px;
    }
    .top-content h2{
        display: inline-block;
    }
    .top-content img{
        height: 15px;
        padding-top: 20px;
        float: right;
    }
    #img-bvss img{
     height: auto;
     width: 85vw;
     object-fit:cover;
    }
    #nav-img{
        padding-top: 10px;
    }
    #nav-img a{
        text-decoration: none;
        color: gray;
        
    }
    #nav-img img{
        height: 20px;
        float: right;
        padding-right: 20px;
    }
    #footer-main{
        padding-bottom: 1px;
    }
}

